.html-container {
  padding: 20px;
  height: 100%;
}

.html-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
